/*
    Estilos Genrales
*/

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

*::selection{
    background-color: #2176d6;
    color: #94c6ff;
}

*::-moz-selection{
    background-color: #2176d6;
    color: #94c6ff;
}

body{
    background-color: azure;
}

header {
    width: 100%;
    height: 2%;
    background-color: #2176d6;
}

header h1 {
    text-align: center;
    color: #ffff;
}

footer {
    text-align: center;
    width: 100%;
    height: 5%;
    background-color: #2176d6;
    color: #ffff;
    position: relative;
    left: 0;
    bottom: 0;
}

.app {
   width: 100%;
   height: 100%;
   max-height: 200%;
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
   padding: 3%;
}

.appmain {
    background-color: rgb(250, 250, 250);
    width: 45%;
    height: 95%;
    border: 5px double #2176d6;
    border-radius: 2%;
    color: #2176d6;
    padding: 5px;
}

.appmain h1 {
    text-align: center;
}

form {
    padding: 5%;
}

/*
    Estilo de las filas
*/

form .fila {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*
    Estilo de las columnas
*/

form .col {
    width: 50%;
}



/*
    Estilos Genrales de Inputs, Labels y Botones
*/

form label {
    line-height: 40px;
}

form input {
    font-size: 18px;
    text-align: center;
    border: none;
}

form .btn {
    height: 40px;
    width: 100%;
    background-color: #94c6ff;
    color: #2176d6;
    border-radius: 5%;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all .3s ease;
}

form .btn:hover {
    background-color: #2176d6;
    color: #94c6ff;
}

form .btn.false {
    background-color: #085bb9;
    color: #94c6ff;
}


/*
    Fila Numero Caracteres
*/

form .numcharact .botones div:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

form .numcharact .botones div {
     width: 100%
}

form .numcharact input {
    height: 40px;
    width: 100%;
    cursor: default;
    background-color: #085bb9;
    color: #5da9ff;
}

form .numcharact .botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*
    Faila Generar
*/

form .generar .col:first-child {
    width: 30%;
}

form .generar .col:nth-child(2n) {
    width: 65%;
}

form .generar .btn.btn-generar {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0;
    line-height: 40px;
    position: relative;

}

form .generar .btn.btn-generar i {
    margin-left: 20px;
    position: relative;
    top: -1px;
    font-size: 14px;
}

form .generar .btn.btn-generar::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #94c6ff;
    transform: rotate(45deg);
    position: absolute;
    top:13px;    
    right: -7px; 
    transition: all .3s ease;
}

form .generar .col:first-child:hover .btn.btn-generar::after {
    background-color: #2176d6;
}

form .generar .input-password {
    width: 100%;
    background: none;
    border: 1px solid #94c6ff;
    border-radius: 4px;
    line-height: 40px;
    cursor: pointer;
    transition: all .3s ease;
}

form .generar .input-password:hover {
    border: 1px solid #2176d6;
}

form .generar input::selection {
    background-color: #2176d6;
    color: #94c6ff;
}

form .generar input::-moz-selection {
    background-color: #2176d6;
    color: #94c6ff;
}

/*
    Fila Alerta
*/

form .fila.alerta {
    margin-top: -25px;
    justify-content: flex-end;
    position: relative;
}

form .fila.alerta .alerta.copiado {
    padding-top: 7px;
    height: 28px;
   text-align: center;
   background-color: rgba(33, 117, 214, 0);
    color: rgba(148, 198, 255, 0);
}

form .fila.alerta .col {
    width: 65%;
}

form .fila.alerta .alerta.copiado::after {
    content: "";
    height: 14px;
    width: 14px;
    transform: rotate(45deg);
    position: absolute;
    background-color: rgba(33, 117, 214, 0);
    top:-7px;
}

form .fila.alerta .alerta.copiado.active {
    background-color: #2175d6;
    color: #94c6ff;
    -webkit-animation:moveOpen 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
}

form .fila.alerta .alerta.copiado.active::after {
    background-color: #2175d6;
}


/* Safari and Chrome */
@-webkit-keyframes moveOpen 
	{
  from {-webkit-transform: translate(0,0px);}
  10% {-webkit-transform: translate(0,5px);}
  50% {-webkit-transform: translate(0,10px);}
  90% {-webkit-transform: translate(0,15px);}
  to {-webkit-transform: translate(0,25px);}
}

/*
    Media Queries
*/

@media screen and (max-width:450px){
    .appmain h1, .appmain h1 i {
        font-size: 24px;
    }

    .appmain form .fila {
        flex-direction: column;
        width: 100%;
    }

    .appmain form .fila .col {
        width: 100%;
    }

    form .generar {
        border-top: 1px solid #085bb9;
        padding-top: 40px;  
    }

    form .generar .btn.btn-generar {
        margin-bottom: 5%;
    }
    form .generar .btn.btn-generar::after{
        top: auto;
        left: 50%;
        bottom: -7px;
        right: 50%;
    }

}